body, html {
  height: 100%;
  position: relative;
  width: 100%;
}

#array {
  border-collapse: collapse;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  margin: 0 auto;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  color: #34495e;
  background-color: #eeeeee;
}

#main {
  position: center;
  width: 90vw;
  height: 70vh;
  margin: auto;
  margin-top: 20px;
}

#array {
  height: 100%;
}

.navbar-dark .navbar-brand {
  color: #5c6874;
  font-size: 20px;
  line-height: 1.042;
  height: 50px;
  font-weight: 700;
  padding: 14px 21px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #1abc9c;
  background-color: transparent;
}

.navbar-menu {
  background-color: #393e46;
}

.navbar-menu button {
  font-size: 18px;
  margin: 0 20px;
  background-color: #00adb5;
}

.navbar-menu .button-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

button:disabled {
  background-color: transparent !important;
}

.bar {
  margin: 0.5px;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.not_active {
  background-color: #393e46;
}

.sorted {
  background-color: #00ff00;
}

.active {
  background-color: #00adb5;
}

.compared {
  background-color: #ff0000;
}

.current {
  background-color: #007980;
}
